.btn-primary {
    border-radius: 1px;
}
.btn:focus {
    box-shadow:none;
}

.card {
    border-radius: 5px;
}

.correctAnsw {
    background-color: green;
}

.incorrectAnsw {
    background-color: red;
}

.transparansy {
    background-color: transparent;
    border: none;
}