

<div class="correctAnswersArea">
 <h6>Correct answers: {{correctAnswers}}</h6> 
</div>
<div class="card" style="width: 18rem;">
    <div class="card-header" [innerHTML]="question?.question">
    </div>
   
      <button 
      *ngFor="let answer of answersArr" 
      class="btn btn-primary"
      [ngClass]= "answer.classColorChange"
      [disabled]="getClicked()"
      (click)="checkAnswer(answer)">
      {{answer.answer}}
    </button>
    

   
  </div>
  
  <div class="questionsInf">
  <p>Category: {{question?.category}}</p>
  <p>difficulty: {{question?.difficulty}}</p>
</div>
 <button class="btn btn-secondary" routerLink="/">Reset</button>