<div class="card" style="width: 18rem;">
    <div class="card-header">
      {{question.question}}
    </div>
    <ul class="list-group list-group-flush">
      <button class="btn btn-primary"><li class="list-group-item">{{answersArr[0]}}</li></button>
      <button class="btn btn-primary"><li class="list-group-item">{{answersArr[1]}}</li></button>
      <button class="btn btn-primary"><li class="list-group-item">{{answersArr[2]}}</li></button>
      <button class="btn btn-primary"><li class="list-group-item">{{answersArr[3]}}</li></button>
    </ul>
  </div>
