<form #form="ngForm">
<div class="categoriesArea">
    <div class="input-group mb-3">
        <label class="input-group-text" for="currentId">Choose category</label>
        <select [(ngModel)]="currentId" class="form-select" id="currentId" name="currentId" required>
            <option  *ngFor="let category of categories; let i = index" [ngValue]="category.id">{{category.name}}
            </option>
        </select>
    </div>
</div>

<div class="categoriesArea">
    <div class="input-group mb-3">
        <label class="input-group-text" for="currentDifficaltyValue">Choose difficulty</label>
        <select [(ngModel)]="currentDifficaltyValue" class="form-select" id="currentDifficaltyValue" name="currentDifficaltyValue" required>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>
</div>


<div class="categoriesArea">
    <div class="input-group mb-3">
        <label class="input-group-text" for="currentType">Choose type</label>
        <select [(ngModel)]="currentType" class="form-select" id="currentType" name="currentType" required>
            <option value="multiple">Multiple</option>
            <option value="boolean">True/False</option>
        </select>
    </div>
</div>


<div class="startArea">
    <button (click)="onStartClick()" [innerHTML]="title" [disabled]="form.invalid" class="btn btn-danger" routerLink="/quiz"></button>
</div>

</form>