<form #form="ngForm">
<div class="categoriesArea" aria-required="true">
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Choose category</label>
        <select required [ngModelOptions]="{standalone: true}" [(ngModel)]="currentId" class="form-select" id="inputGroupSelect01">
            <option  *ngFor="let category of categories; let i = index" [ngValue]="category.id">{{category.name}}
            </option>
        </select>
    </div>
</div>

<div class="categoriesArea">
    <div class="input-group mb-3" aria-required="true">
        <label class="input-group-text" for="inputGroupSelect01">Choose difficalty</label>
        <select required [ngModelOptions]="{standalone: true}" [(ngModel)]="currentDifficaltyValue" class="form-select" id="inputGroupSelect01">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>
</div>


<div class="startArea">
    <button (click)="onStartClick()" [innerHTML]="title" [disabled]="!form.valid" class="btn btn-danger" routerLink="/quiz"></button>
</div>

</form>