.cardsArea { 
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.btnArea {
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px auto 10px;
    left:0px;
    right: 0px;
    z-index: 1;
}

.btn:focus {
    box-shadow: none;
}


p{
    margin-top: 20px;
    text-align: center;
    font-family: "Trirong", serif;
}

/* media screens */

@media only screen and (max-width: 800px){
    .cardsArea {
        top: 540px;
    }

    .btnArea {
        width: 50%;
    }
}

